/*
*= require_tree .
*= require_self
*/
body { padding-top: 100px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
 .sidebar-nav-fixed {
      position:fixed;
      top:60px;
      width:21.97%;
  }

  @media (max-width: 767px) {
      .sidebar-nav-fixed {
          width:auto;
      }
  }

  @media (max-width: 979px) {
      .sidebar-nav-fixed {
          position:static;
         width: auto;
      }
  }
